.oilers-times-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.oilers-times-article-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-header {
  margin-top: -7rem;
  margin-bottom: 7rem;
  justify-self: center;
}

.oilers-times-article-container {
  height: 48rem;
  width: 84rem;
  border: 3px solid #e5edff;
  border-radius: 2rem;
  overflow: scroll;
  animation: articleAnimation 0.8s ease-out forwards;
  z-index: 1;
}

@keyframes articleAnimation {
  0% {
    opacity: 0%;
    transform: translateY(10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.oilters-times-article-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom, transparent 10%, #e5edff53 90%);
  border-radius: 1.6rem;
  margin-bottom: 1rem;
  /* border-bottom: 2px solid #e5edff64; */
}

.article-button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  background-color: white;
  border: 1px solid white;
  border-radius: 1.2rem;
  padding: 1rem;
  margin-top: 2rem;
  transition: all 0.1s linear;
  z-index: 100;
}

.article-button:hover {
  color: white;
  background-color: #333;
}

.oilers-times-form {
  font: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-input,
.body-input,
.map-select {
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 12px;
  padding: 1rem;
}

.title-input {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.body-input {
  font-size: 1.6rem;
  border: none;
  height: 40vh;
  width: 60vw;
  margin-bottom: 4rem;
  white-space: pre-wrap;
}

/* .select-label {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
} */

.map-select {
  margin-bottom: 8rem;
}

.form-button {
  border: none;
  background-color: #e5edff;
  font-size: 16px;
  font-weight: 600;
  padding: 1rem;
  border-radius: 12px;
}

.author-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.article-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.article-background-gradient {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  height: 94vh;
  width: 100vw;
  background: linear-gradient(to bottom, transparent 1%, black 60%);
}

.article-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.2rem;
  color: white;
}

.article-page-date {
  color: white;
}

.article-page-body {
  height: 90%;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  padding: 2rem 10rem;
  white-space: pre-wrap;
}

.article-page-body::first-letter {
  initial-letter: 3;
  margin-right: 0.75rem;
}

.black-background {
  background: black;
}
