.player-stat-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: solid 3px white;
  border-radius: 2rem;
  height: 48rem;
  width: 36rem;
  background: linear-gradient(to bottom, #e5edff, #bdd3ff);
}

h1 {
  font-size: 3.4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

span {
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}

.header {
  text-align: center;
}

.stat-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  text-align: center;
  align-self: center;
}

.time-played {
  justify-self: flex-end;
  align-self: center;
  font-size: 2rem;
}

.battletag {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
}

.oiler-image {
  height: 4rem;
  width: 4rem;
}
